@font-face {
  font-family: "alice";
  src: url("./fonts/alice-regular-webfont.woff2") format("woff2"),
    url("./fonts/alice-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quattrocento";
  src: url("./fonts/quattrocento-regular-webfont.woff2") format("woff2"),
    url("./fonts/quattrocento-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "quattrocento";
  src: url("./fonts/quattrocento-bold-webfont.woff2") format("woff2"),
    url("./fonts/quattrocento-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "alice";
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("./images/bg.jpg");
  background-size: cover;
}

nav {
  margin: 5rem auto;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 1rem 1.5rem;
  font-family: inherit;
  background-color: black;
  color: white;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

button:hover {
  color: orange;
}

button.active {
  color: orange;
}

.cta {
  background-color: orange;
}

.cta:hover {
  color: black;
}

#content {
  max-width: 120rem;
  margin: auto auto;
}

.header {
  margin-top: 15rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.brand-name {
  font-size: 6.2rem;
}

.brand-content {
  line-height: 1.2;
  margin: 0 auto;
  width: 50%;
  font-size: 2.2rem;
}

.menu-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.menu-heading-container h1 {
  color: white;
  font-size: 4.2rem;
}

.menu-heading-container div {
  height: 0.1rem;
  background-color: orange;
  flex-grow: 1;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0 2rem;
  color: white;
  margin-bottom: 7rem;
}

.dish-name {
  font-size: 2.6rem;
}

.dish-ingredients {
  font-size: 1.6rem;
  line-height: 1.4;
  font-style: italic;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu {
  position: relative;
  box-shadow: 0 0 0 1px rgba(255, 166, 0, 0.5);
}

.menu:hover {
  box-shadow: 0 0 0 1.5px orange;
}

.menu::after {
  content: "order";
  position: absolute;
  bottom: 37%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.4s;
  background-color: black;
  padding: 1rem;
  color: orange;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu:hover::after {
  opacity: 1;
  bottom: 60%;
  cursor: pointer;
}

.dish-weight {
  font-size: 1.6rem;
}

img {
  width: 100%;
}
